$button-color: rgba(26, 37, 79, 0.595);
$button-transition: 0.3s linear all;
$breakpoint-tablet: 620px;
$breakpoint-desktop: 1024px;

@mixin button-props {
  background-color: $button-color;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  padding: 10px;
  transition: $button-transition;
  text-decoration: none;
  outline: none;
}

#home,
#play,
#url-error,
#score {
  background-image: url("../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

.home-section,
.play-section,
.url-error-section,
.score-section {
  background-color: rgba($color: #f0eaea91, $alpha: 0.7);
  height: 90%;
  width: 75%;
  padding: 10px;
  margin-top: 25px;
}

// HOME SECTION **************************************************

#home {
  .home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 2, 2rem;
      margin-bottom: 10px;
      text-align: center;
    }

    .instructions {
      text-align: center;
      margin-bottom: 20px;
      font-size: 17px;
      width: 165px;
      line-height: 20px;

      p {
        font-size: 20px;
        font-weight: 800;
      }

      .game-screenshot {
        height: 75px;
        width: 130px;

        @media (min-width: $breakpoint-tablet) {
          height: 350px;
          width: 570px;
        }
      }

      @media (min-width: $breakpoint-tablet) {
        font-size: 16px;
        width: 400px;
        line-height: 25px;
      }

      @media (min-width: $breakpoint-desktop) {
        width: 500px;
        line-height: 30px;
      }
    }
  }
  .play-button-container {
    .play-button {
      @include button-props();
      &:hover {
        background-color: darken(#1b59cca7, 10%);
      }
    }
  }
}

// PLAY SECTION **************************************************

#play {
  .play-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .end-button-container {
      ul {
        list-style-type: none;

        li {
          a.end-quiz-button {
            @include button-props();

            &:hover {
              background-color: darken(#1b59cca7, 10%);
            }
          }
        }
      }
    }

    .questions {
      display: flex;
      flex-direction: column;
      padding: 50px;

      .fraction {
        text-align: center;
        order: -1;
        font-size: 20px;
        font-weight: bold;
      }

      h5 {
        margin-bottom: 40px;
        text-align: center;
        word-break: break-word;
      }

      .options {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (min-width: $breakpoint-tablet) {
          flex-direction: unset;
          margin-bottom: 40px;
        }

        .option {
          width: 100%;
          font-size: 15px;
          border-radius: 15px;
          background-color: chartreuse;
          cursor: pointer;
          margin: 5px;
          padding: 5px;
          transition: $button-transition;
          text-align: center;

          &:hover {
            background-color: darken(#65ad06, 10%);
          }

          @media (min-width: $breakpoint-tablet) {
            font-size: 18px;
          }
        }

        .not-clickable {
          pointer-events: none;
          opacity: 1;
        }
      }

      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
          @include button-props();
          margin: 5px;

          &:hover {
            background-color: darken(#1b59cca7, 10%);
          }
        }

        .disabled-button {
          background-color: #ccc;
          box-shadow: none;
          opacity: 0.7;
          pointer-events: none;
          margin: 5px;
        }

        .end-quiz-button {
          list-style-type: none;
          li {
            a.end-quiz {
              @include button-props();

              &:hover {
                background-color: darken(#1b59cca7, 10%);
              }
            }
          }
        }
      }
    }
  }
}

// URL ERROR SECTION **************************************************

#url-error {
  .url-error-section {
    text-align: center;
    .error-message {
      padding: 25px;
    }

    .fail-message {
      height: 150px;

      @media (min-width: $breakpoint-tablet) {
        height: 250px;
      }
    }

    .home-button-container {
      margin-top: 10px;

      a.home-button {
        @include button-props();

        &:hover {
          background-color: darken(#1b59cca7, 10%);
        }
      }
    }
  }
}

// SCORE SECTION **************************************************

#score {
  .score-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-button-container {
      margin-top: 65px;

      a.home-button {
        @include button-props();

        &:hover {
          background-color: darken(#1b59cca7, 10%);
        }
      }
    }
  }
}
