// Colors
//$white: rgba($color: #f0eaea91, $alpha: 0.7);
$white-with-opacity: rgba($color: #f0eaea91, $alpha: 0.7);
// Sizes
$xsmall: 0,5rem;
$small: 1rem;
$normal: 1,5rem;
$large: 2rem;
$xlarge: 2,5rem;
$xxlarge: 5rem;
 
// doesnt work